{% if site.inc_before_meta %}
{% include {{ site.inc_before_meta }} %}
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">

{% if page.title %}
    {% assign pagetitle = page.title %}
{% else %}
    {% assign pagetitle = site.title %}
{% endif %}
{% assign title = pagetitle | strip_html | strip_newlines | truncate: 160 %}

{% assign excerpt = "" %}
{% if page.excerpt %}
    {% assign excerpt = page.excerpt %}
{% else %}
{% assign lines = page.content | newline_to_br | split: "<br />" %}
    {% for line in lines %}
    {% assign trimmed = line | strip %}
    {% if trimmed != "" %}
        {% unless trimmed contains "#" or trimmed contains "{%" %}
            {% assign excerpt = trimmed | markdownify %}
            {% break %}
        {% endunless %}
    {% endif %}
    {% endfor %}
{% endif %}
{% assign description = excerpt | strip_html | strip_newlines%}

<!-- Begin Meta Tags -->
<title>{{title}} | {{site.title}}</title>
<meta name="description" content="{{description}}">
<!-- End Meta Tags -->

<!-- Begin OpenGraph Tags-->
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{site.title}}: {{site.description}}">
<meta property="og:url"
  content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
{% if page.image %}
<meta property="og:image" content="{{page.image | absolute_url }}" />
<meta name="twitter:image" content="{{page.image | absolute_url }}" />
{% elsif site.logo_url %}
<meta property="og:image" content="{{ site.logo_url | absolute_url }}" />
<meta name="twitter:image" content="{{ site.logo_url | absolute_url }}" />
{% endif %}
<!-- End OpenGraph Tags-->


{% if site.inc_after_meta %}
{% include {{ site.inc_after_meta }} %}
{% endif %}