<div class="sidecar">
    {% if page.sidecar == nil %}
        <div class="sidecar-title">This is an empty sidecar</div>
        <div class="sidecar-text">See <a href="/{{site.title | slugify}}:sidecars">{{ site.title }}:Sidecars</a> to learn how to add information here.</div>
    {% endif %}
    {% for i in page.sidecar %}
        {% if i.gap %}
            <br />
        {% endif %}
        {% if i.title %}
            <div class="sidecar-title">{{ i.title }}</div>
        {% endif %}
        {% if i.title_sm %}
            <div class="sidecar-title-small">{{ i.title_sm }}</div>
        {% endif %}
        {% if i.image %}
            <img src="{{ i.image }}"/>
        {% endif %}
        {% if i.text %}
            <div class="sidecar-text">{{ i.text }}</div>
        {% endif %}
        {% if i.html %}
            {{ i.html }}
        {% endif %}
        {% if i.table %}
            <table>
            {% for row in i.table %}
                <tr>
                    <td style="width: 40%"><b>{{ row.label }}</b></td>
                    <td>{{ row.value }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
</div>
