/* Notes above pages */
.note {
  background-color: $accent-bg-color-light;
  border: $border-style;
  border-color: $accent-border-color-light;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .note {
    background-color: $accent-bg-color-dark;
    border-color: $accent-border-color-dark;
  }
}

.note p {
  margin-bottom: 0px;
}

.note img {
  height: 40px;
  margin-right: 20px;
}
