$border-style: 1px solid;

$bg-color-light: white;
$accent-bg-color-light: #f7f7f7;
$sidecar-bg-color-light: #ededed;

$text-color-light: black;
$bold-text-color-light: #222;
$placeholder-color-light: gray;

$border-color-light: #252525;
$accent-border-color-light: #ddd;



$bg-color-dark: #252525;
$accent-bg-color-dark: #282828;
$sidecar-bg-color-dark: #262626;

$text-color-dark: white;
$bold-text-color-dark: white;
$placeholder-color-dark: lightgray;

$border-color-dark: #555555;
$accent-border-color-dark: #555555;

$large: 900px;
$medium: 750px;
$small: 480px;
$top-spacing: 60px;