<div class="header">
  <button class="w3-button" onclick="sidebar_toggle()">&#9776;</button>
  <a href="{{ '/' | relative_url }}">
    {{ site.title | escape }}
  </a>
</div>


<header class="sidebar" id="git-wiki-sidebar" style="display: none;">
  <div>
    {% if site.inc_before_header %}
    {% include {{ site.inc_before_header }} %}
    {% endif %}

    <div>
      <div class="git-wiki-main-logo">
        <a href="{{ '/' | relative_url }}">
          {% if site.logo_url %}
            <img src="{{ site.logo_url | relative_url }}">
          {% endif %}
          <h1>{{ site.title | default: site.github.repository_name | escape }}</h1>
        </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </div>
    </div>

    <div class="w3-margin-top	">
      {% if site.github.is_user_page %}
      <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
      {% endif %}
      {% include git-wiki/components/toc/toc.html %}

      {% if site.show_wiki_pages %}
      {% include git-wiki/components/lists/page-list.html %}
      {% endif %}

      {% if site.blog_feature and site.show_wiki_posts %}
      {% include git-wiki/components/lists/post-list.html %}
      {% endif %}

      {% if site.show_downloads %}
      {% include git-wiki/components/downloads.html %}
      {% endif %}

      {% if site.inc_after_header %}
      {% include {{ site.inc_after_header }} %}
      {% endif %}
    </div>
  </div>
</header>
<script>
  function sidebar_toggle() {
    var sidebar = document.getElementById("git-wiki-sidebar");
    var button = document.querySelector(".w3-button");

    if (sidebar.style.display == "block") {
      sidebar.style.display = "none";
      button.textContent = "☰"; // Set back to ☰ when closing
    } else {
      $(sidebar).attr('style', 'display: block;');
      button.textContent = "✕"; // Change to ☒ when opening
    }
  }
</script>
